{% extends 'base.html.twig' %}

{% block title %}CGV Tutto Pasta{% endblock %}

{% block page_title %}Conditions Générales de Vente{% endblock %}

{% block body %}
    {{ parent() }}{# Inclus le "page_title" ainsi que les propriétés du header #}
    <main class="wrapper">
        <section>
            <p><strong>En vigueur au 27/08/2024</strong></p>
            <p>Les présentes conditions générales de vente (dites « CGV ») régissent les relations contractuelles entre Romane, directrice artistique freelance et propriétaire de la plateforme TuttoPasta, et toute personne physique ou morale souhaitant utiliser les services proposés sur le site <a href="https://www.tuttopasta.com">www.tuttopasta.com</a> (ci-après dénommé "le Site").</p>
            <p>Les présentes CGV sont accessibles sur le site à la rubrique « <a href="#">CGV</a> ».</p>
            <p>Toute inscription ou utilisation du site implique l'acceptation sans aucune réserve ni restriction des présentes CGV par l’utilisateur. Lors de l'inscription sur le site via le formulaire d’inscription, chaque utilisateur accepte expressément les présentes CGV en cochant la case précédant le texte suivant : « Je reconnais avoir lu et compris les CGV et je les accepte ».</p>
            <p>En cas de non-acceptation des CGV stipulées dans le présent contrat, l'Utilisateur se doit de renoncer à l'accès des services proposés par le site.</p>
            <p>TuttoPasta.fr se réserve le droit de modifier unilatéralement et à tout moment le contenu des présentes CGV.</p>
        </section>

        <hr>

        <section>
            <h2>Article 1 : Objet</h2>
            <p>Les présentes conditions générales de vente (CGV) ont pour objet de définir les droits et obligations de Romane (ci-après dénommée "le Prestataire") et de l'utilisateur (ci-après dénommé "le Client") dans le cadre de la fourniture des services proposés par le Site TuttoPasta.</p>
        </section>

        <hr>

        <section>
            <h2>Article 2 : Services Proposés</h2>
            <p>Le Site propose les services suivants :</p>
            <ul>
                <li>Présentation interactive du portfolio de Romane.</li>
                <li>Système de prise de rendez-vous en ligne pour des consultations créatives.</li>
                <li>Générateur de devis dynamique pour les services de design graphique et web.</li>
                <li>Générateur d'offres de prix personnalisées.</li>
                <li>Accès à un espace utilisateur permettant de gérer les informations personnelles, les rendez-vous et les devis.</li>
                <li>Blog interactif avec possibilité de commenter pour les utilisateurs inscrits.</li>
            </ul>
        </section>

        <hr>

        <section>
            <h2>Article 3 : Accès aux Services</h2>
            <p>L'accès aux services nécessite la création d'un compte utilisateur en fournissant un pseudo et une adresse email valide. L'utilisateur s'engage à fournir des informations exactes et à jour.</p>
            <p>L’Utilisateur non membre n'a pas accès aux services réservés. Pour cela, il doit s’inscrire en remplissant le formulaire d'inscription. En acceptant de s’inscrire aux services réservés, l’Utilisateur membre s’engage à fournir des informations sincères et exactes concernant son état civil et ses coordonnées, notamment son adresse email.</p>
            <p>Pour accéder aux services, l’Utilisateur doit ensuite s'identifier à l'aide de son identifiant et de son mot de passe qui lui seront communiqués après son inscription.</p>
            <p>Tout Utilisateur membre régulièrement inscrit pourra également solliciter sa désinscription en se rendant à la page dédiée sur son espace personnel. Celle-ci sera effective dans un délai raisonnable.</p>
            <p>Tout événement dû à un cas de force majeure ayant pour conséquence un dysfonctionnement du site ou serveur et sous réserve de toute interruption ou modification en cas de maintenance, n'engage pas la responsabilité de TuttoPasta.fr. Dans ces cas, l’Utilisateur accepte ainsi de ne pas tenir rigueur à l’éditeur de toute interruption ou suspension de service, même sans préavis.</p>
            <p>L'Utilisateur a la possibilité de contacter le site par messagerie électronique à l’adresse email de l’éditeur communiqué à l’ARTICLE 1.</p>
        </section>

        <hr>

        <section>
            <h2>Article 4 : Prise de Rendez-vous et Génération de Devis</h2>
            <p>Lors de la prise de rendez-vous, un pré-devis sera généré automatiquement en fonction des informations fournies par l'utilisateur. Ce pré-devis est susceptible d'être modifié lors de la consultation pour finaliser le devis définitif. Le devis définitif sera transmis à l'utilisateur sous forme de PDF et devra être accepté par ce dernier pour que la prestation soit engagée.</p>
        </section>

        <hr>

        <section>
            <h2>Article 5 : Offre de Prix Dynamique</h2>
            <p>Le Site permet de générer une offre de prix personnalisée en remplissant un formulaire dynamique. L'offre de prix est transmise sous forme de PDF et est valable pour une durée précisée dans le document.</p>
        </section>

        <hr>

        <section>
            <h2>Article 6 : Modalités de Paiement</h2>
            <p>Les paiements pour les services fournis par Romane sont effectués selon les modalités indiquées dans le devis définitif. Le paiement doit être effectué dans les délais précisés. En cas de retard de paiement, des pénalités peuvent être appliquées conformément à la législation en vigueur.</p>
        </section>

        <hr>

        <section>
            <h2>Article 7 : Politique d'Annulation</h2>
            <p>L'utilisateur peut annuler un rendez-vous via son espace utilisateur. Toute annulation doit être effectuée au moins 24 heures avant l'heure prévue du rendez-vous. En cas d'annulation tardive ou de non-présentation, des frais peuvent être facturés.</p>
        </section>

        <hr>

        <section>
            <h2>Article 8 : Responsabilité</h2>
            <p>Romane s'engage à fournir ses services avec diligence et professionnalisme. Cependant, elle ne pourra être tenue responsable des dommages directs ou indirects résultant de l'utilisation du Site ou des services proposés, notamment en cas de dysfonctionnement technique, d'accès non autorisé aux données de l'utilisateur, ou de force majeure.</p>
        </section>

        <hr>

        <section>
            <h2>Article 9 : Propriété Intellectuelle</h2>
            <p>L'ensemble des contenus disponibles sur le Site, y compris le portfolio, les articles du blog, et tout autre élément graphique ou textuel, est protégé par les lois sur la propriété intellectuelle. Toute reproduction, représentation, modification ou adaptation, en tout ou en partie, est strictement interdite sans l'autorisation écrite préalable de Romane.</p>
        </section>

        <hr>

        <section>
            <h2>Article 10 : Protection des Données Personnelles</h2>
            <p>Les informations recueillies lors de l'inscription ou de l'utilisation des services du Site sont traitées conformément à la politique de confidentialité du Site. Romane s'engage à respecter la confidentialité des données personnelles des utilisateurs et à ne les utiliser que dans le cadre strict des services proposés.</p>
            <p>En vertu de la loi Informatique et Libertés, en date du 6 janvier 1978, l'Utilisateur dispose d'un droit d'accès, de rectification, de suppression et d'opposition de ses données personnelles. L'Utilisateur exerce ce droit :</p>
            <ul>
                <li>via un <a href="#">formulaire de contact</a> ;</li>
                <li>via son espace personnel ;</li>
            </ul>
        </section>

        <hr>

        <section>
            <h2>Article 11 : Modification des CGV</h2>
            <p>Romane se réserve le droit de modifier les présentes CGV à tout moment. Les utilisateurs seront informés de toute modification via le Site. Les CGV modifiées entreront en vigueur dès leur publication en ligne.</p>
        </section>

        <hr>

        <section>
            <h2>Article 12 : Droit Applicable et Litiges</h2>
            <p>Les présentes CGV sont régies par le droit français. Tout litige relatif à leur interprétation ou à leur exécution sera soumis à la compétence exclusive des tribunaux français.</p>
            <p>Pour toute question relative à l’application des présentes CGV, vous pouvez joindre l’éditeur aux coordonnées inscrites à l’ARTICLE 1.</p>
        </section>
    </main>
{% endblock %}
