
h2 {
    margin-top: 50px;
}

h2, h3 {
    text-align: center;
}

.appointments_table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.appointments_table th, 
.appointments_table td {
    border-bottom: 1px solid #7c7c7c;
    padding: 10px;
    text-align: left;
}

.appointments_table tr:hover {
    background-color: #202020;
}

/* chart JS */

#canvas_display {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#quotes_chart, #monthlyAppointment_chart{
    width: 40% !important;
    height: auto !important;
}





/*_____________________________ECRANS 800px_____________________________ */
@media (max-width: 800px) {

    h2 {
        margin-top: 30px;
    }

    table thead {
        display: none;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 40px;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        text-align: right !important;
    }

    table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    #canvas_display {
        display: block;
        margin-top: unset;
    }

    
    #quotes_chart, #monthlyAppointment_chart{
        width: 100% !important;
        height: auto !important;
        margin-top: 50px;
    }

}