<div class="container">
    <h1>Confirmation de Rendez-vous</h1>

    <p>Bonjour,</p>

    <p>Votre rendez-vous a été enregistré avec succès pour le {{ appointmentDate }}.</p>

    <p>Merci et à bientôt !</p>

    <p>Cordialement,</p>
    <p><strong>TuttoPasta</strong></p>

    <div class="footer">
        <p>Ce message a été envoyé automatiquement, merci de ne pas y répondre.</p>
    </div>
</div>