<div class="container">
    <h1>Confirmation de Réception</h1>

    <p>Bonjour,</p>

    <p>Nous avons bien reçu votre demande de contact et vous en remercions. Nous vous répondrons dans les plus brefs délais.</p>

    <p>Merci et à bientôt !</p>

    <p>Cordialement,</p>
    <p><strong>TuttoPasta</strong></p>

    <div class="footer">
        <p>Ce message a été envoyé automatiquement, merci de ne pas y répondre.</p>
    </div>
</div>