<div class="container">
    <h1>Nouveau message reçu</h1>

    <p>Bonjour,</p>

    <p>Vous avez reçu un nouveau message.</p>

    <p><strong>Titre du message :</strong> {{ titleMessage }}</p>
    <p><strong>Contenu du message :</strong> {{ contentMessage }}</p>
    <p><strong>Date de réception :</strong> {{ dateMessage }}</p>

    <p>Merci de vérifier votre boîte de réception pour plus de détails.</p>

    <p>Cordialement,</p>
    <p>L'équipe TuttoPasta</p>

    <div class="footer">
        <p>Ce message a été envoyé automatiquement, merci de ne pas y répondre.</p>
    </div>
</div>